## Handaling Missing Value

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("data.csv")
df.head(3)

   Duration  Pulse  Maxpulse  Calories
0      60.0  110.0     130.0     409.1
1      60.0  117.0     145.0     479.0
2      60.0  103.0     135.0     340.0

In [4]:
df.isnull().sum()

Duration     7
Pulse       18
Maxpulse    11
Calories    16
dtype: int64

In [6]:
df.select_dtypes(include ="float64").columns

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [7]:
from sklearn.impute import SimpleImputer

In [11]:
si = SimpleImputer(strategy = "mean" )
ar = si.fit_transform(df[['Duration', 'Pulse', 'Maxpulse', 'Calories']])

In [12]:
new_dataset = pd.DataFrame(ar,columns = df.select_dtypes(include ="float64").columns)

In [13]:
new_dataset.isnull().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [14]:
new_dataset

     Duration  Pulse  Maxpulse    Calories
0        60.0  110.0     130.0  409.100000
1        60.0  117.0     145.0  479.000000
2        60.0  103.0     135.0  340.000000
3        45.0  109.0     175.0  282.400000
4        45.0  117.0     148.0  406.000000
..        ...    ...       ...         ...
164      60.0  105.0     140.0  290.800000
165      60.0  110.0     145.0  300.000000
166      60.0  115.0     145.0  375.947059
167      75.0  120.0     150.0  375.947059
168      75.0  125.0     150.0  375.947059

[169 rows x 4 columns]

In [15]:
df['Pulse'].mean()

np.float64(107.12582781456953)