# 游댠 LabelEncoder

# 游릭 Step 1: Import Libraries

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import seaborn as sns

# 游릭 Step 2: Load Titanic Dataset

In [2]:
# Load Titanic dataset from seaborn
df = sns.load_dataset('titanic')

# Show first few rows
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# 游릭 Step 3: Check Categorical Columns

In [18]:
# Check which columns are object type (categorical)
df.select_dtypes(include='object').columns

Index(['sex', 'embarked', 'who', 'embark_town', 'alive'], dtype='object')

# 游릭 Step 4: Apply LabelEncoder on "sex" Column

In [19]:
# Create LabelEncoder object
le = LabelEncoder()

In [20]:
# Apply on 'sex' column
df['sex_encoded'] = le.fit_transform(df['sex'])

In [21]:
# Check result
df[['sex', 'sex_encoded']].head()

      sex  sex_encoded
0    male            1
1  female            0
2  female            0
3  female            0
4    male            1

# 游릭 Step 5: Decode the Encoded Column (if needed)

In [22]:
# Reverse transform to get original labels back
df['decoded_sex'] = le.inverse_transform(df['sex_encoded'])

In [23]:
# Check again
df[['sex_encoded', 'decoded_sex']].head()

   sex_encoded decoded_sex
0            1        male
1            0      female
2            0      female
3            0      female
4            1        male

# 游릭 Step 6 (Optional): Encode More Columns

In [24]:
# Apply encoding on multiple categorical columns (example: 'embarked')
df['embarked_encoded'] = le.fit_transform(df['embarked'].astype(str))

In [25]:
df[['embarked', 'embarked_encoded']].head()

  embarked  embarked_encoded
0        S                 2
1        C                 0
2        S                 2
3        S                 2
4        S                 2