# üì¶ Cell 1: Importing Required Libraries

In [1]:
# Import necessary libraries
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

# üßæ Cell 2: Creating Sample Data

In [2]:
# Create a sample dataset with categorical values
data = {
    'Color': ['Red', 'Green', 'Blue', 'Green', 'Red', 'Blue']
}
df = pd.DataFrame(data)
df

   Color
0    Red
1  Green
2   Blue
3  Green
4    Red
5   Blue

# üîç Cell 3: Initialize and Fit OrdinalEncoder

In [3]:
# Initialize the OrdinalEncoder
encoder = OrdinalEncoder()

# Fit and transform the 'Color' column
encoded_color = encoder.fit_transform(df[['Color']])

# üßÆ Cell 4: Add Encoded Values to DataFrame

In [4]:
# Add the encoded values as a new column
df['Color_Encoded'] = encoded_color
df

   Color  Color_Encoded
0    Red            2.0
1  Green            1.0
2   Blue            0.0
3  Green            1.0
4    Red            2.0
5   Blue            0.0

# üìä Cell 5: Check the Encoding Categories

In [4]:
# Show the categories used for encoding
encoder.categories_

[array(['Blue', 'Green', 'Red'], dtype=object)]

In [7]:
from sklearn.preprocessing import OrdinalEncoder

data = [['Low', 'Red'],
        ['Medium', 'Blue'],
        ['High', 'Green']]

encoder = OrdinalEncoder()
encoded = encoder.fit_transform(data)

print(encoded)

[[1. 2.]
 [2. 0.]
 [0. 1.]]