## Train Test Split in Data Set

In machine learning, Train-Test Split is a technique used to evaluate how well a model generalizes to unseen data. It involves dividing the dataset into two parts:

### 1. Training Set
- Used to train the model.
- Usually 70–80% of the entire dataset.

### 2. Test Set
- Used to evaluate the trained model’s performance.
- Usually 20–30% of the dataset.

### Why Train-Test Split?
- To detect overfitting or underfitting.
- To get an unbiased evaluation of a model's performance.

In [1]:
import pandas as pd

In [2]:
DS = pd.read_csv("Boston.csv")
DS.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
DS.shape

(506, 15)

In [4]:
input_data = DS.iloc[:,:-1]
output_data = DS["medv"]

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train ,x_test,y_train,y_test = train_test_split(input_data,output_data,test_size = 0.25)

In [7]:
X_train ,x_test,y_train,y_test

(     Unnamed: 0     crim    zn  indus  chas     nox     rm   age     dis  rad  \
 95           96  0.12204   0.0   2.89     0  0.4450  6.625  57.8  3.4952    2
 334         335  0.03738   0.0   5.19     0  0.5150  6.310  38.5  6.4584    5
 195         196  0.01381  80.0   0.46     0  0.4220  7.875  32.0  5.6484    4
 237         238  0.51183   0.0   6.20     0  0.5070  7.358  71.6  4.1480    8
 170         171  1.20742   0.0  19.58     0  0.6050  5.875  94.6  2.4259    5
 ..          ...      ...   ...    ...   ...     ...    ...   ...     ...  ...
 217         218  0.07013   0.0  13.89     0  0.5500  6.642  85.1  3.4211    5
 84           85  0.05059   0.0   4.49     0  0.4490  6.389  48.0  4.7794    3
 18           19  0.80271   0.0   8.14     0  0.5380  5.456  36.6  3.7965    4
 97           98  0.12083   0.0   2.89     0  0.4450  8.069  76.0  3.4952    2
 279         280  0.21038  20.0   3.33     0  0.4429  6.812  32.2  4.1007    5

      tax  ptratio   black  lstat
 95   276     18.0  357.98   6.65
 334  224     20.2  389.40   6.75
 195  255     14.4  394.23   2.97
 237  307     17.4  390.07   4.73
 170  403     14.7  292.29  14.43
 ..   ...      ...     ...    ...
 217  276     16.4  392.78   9.69
 84   247     18.5  396.90   9.62
 18   307     21.0  288.99  11.69
 97   276     18.0  396.90   4.21
 279  216     14.9  396.90   4.85

 [379 rows x 14 columns],
      Unnamed: 0      crim    zn  indus  chas    nox     rm   age     dis  rad  \
 488         489   0.15086   0.0  27.74     0  0.609  5.454  92.7  1.8209    4
 438         439  13.67810   0.0  18.10     0  0.740  5.935  87.9  1.8206   24
 376         377  15.28800   0.0  18.10     0  0.671  6.649  93.3  1.3449   24
 453         454   8.24809   0.0  18.10     0  0.713  7.393  99.3  2.4527   24
 65           66   0.03584  80.0   3.37     0  0.398  6.290  17.8  6.6115    4
 ..          ...       ...   ...    ...   ...    ...    ...   ...     ...  ...
 205         206   0.13642   0.0  10.59     0  0.489  5.891  22.3  3.9454    4
 96           97   0.11504   0.0   2.89     0  0.445  6.163  69.6  3.4952    2
 461         462   3.69311   0.0  18.10     0  0.713  6.376  88.4  2.5671   24
 148         149   2.33099   0.0  19.58     0  0.871  5.186  93.8  1.5296    5
 265         266   0.76162  20.0   3.97     0  0.647  5.560  62.8  1.9865    5

      tax  ptratio   black  lstat
 488  711     20.1  395.09  18.06
 438  666     20.2   68.95  34.02
 376  666     20.2  363.02  23.24
 453  666     20.2  375.87  16.74
 65   337     16.1  396.90   4.67
 ..   ...      ...     ...    ...
 205  277     18.6  396.90  10.87
 96   276     18.0  391.83  11.34
 461  666     20.2  391.43  14.65
 148  403     14.7  356.99  28.32
 265  264     13.0  392.40  10.45

 [127 rows x 14 columns],
 95     28.4
 334    20.7
 195    50.0
 237    31.5
 170    17.4
        ...
 217    28.7
 84     23.9
 18     20.2
 97     38.7
 279    35.1
 Name: medv, Length: 379, dtype: float64,
 488    15.2
 438     8.4
 376    13.9
 453    17.8
 65     23.5
        ...
 205    22.6
 96     21.4
 461    17.7
 148    17.8
 265    22.8
 Name: medv, Length: 127, dtype: float64)

In [8]:
y_train.shape

(379,)

- test_size=0.2: 20% for testing
- random_state=42: Ensures reproducibility (same split every time)

## Tips
- For small datasets, consider using K-Fold Cross Validation instead.
- Always scale/normalize data after splitting (fit scaler only on training set).